@charset "UTF-8";
/* CSS Document */
form{
	float: left;
	position:relative;
}

.search { 
	padding:6px 15px 6px 30px;
	margin:3px; 
	background: url('./images/search.png') no-repeat 8px 6px;
	vertical-align: middle;
}

.rounded { 
	border-radius:15px;  
}

input[type=text]{
	color:#bcbcbc;
}