@charset "UTF-8";
/* CSS Document */

.ease-all{
		-webkit-transition: all 350ms ease-in-out;
		-moz-transition: all 350ms ease-in-out;
       -ms-transition: all 350ms ease-in-out;
       -o-transition: all 350ms ease-in-out;
		transition: all 350ms ease-in-out;
}

header {
	background-color: #ECF4F4;
	width: 100%;
	top: 0;
	z-index: 100;
	margin-bottom: 2rem;
	border-radius: 8px;	
}

.logo {
	max-width: 100px;
	margin: .5rem;
	top: -30px;
	display: inline-block;
}

header h1{
		display: inline-block;
		position: relative;
		top: -40px;
		overflow: auto;
		margin-bottom: 0;
}

.fancy-link,
.fancy-link:link,
.fancy-link:visited{
	color: #979c9b;
	text-decoration: none;
	border-bottom: 1px solid #979c9b;
}

.fancy-link:hover,
.fancy-link:focus,
.fancy-link:active{
	color: #282727;
	border-bottom: 5px solid #282727;
}

nav,
nav li,
nav a,
nav a:link,
nav a:visited{
	width: 100%;
	font-family: arvo, serif;
	margin: 0 auto;
	padding: .5rem;
	display: inline;
}

ul {
	margin-left: 0;
	padding-left: 0;
}


ul li:before {
	content: "";
}

ul li{
	font-family: "Arvo" serif;
   	position: relative;  
	list-style-type: none;
}

.header-search {
	float: right;
	top: -20px;
	margin-right: 2%;
}











	



