@charset "UTF-8";
/* CSS Document */

.ease-all{
		-webkit-transition: all 350ms ease-in-out;
		-moz-transition: all 350ms ease-in-out;
       -ms-transition: all 350ms ease-in-out;
       -o-transition: all 350ms ease-in-out;
		transition: all 350ms ease-in-out;
}

header {
	background-color: #ECF4F4;
	width: 100%;
	top: 0;
	z-index: 100;
	margin-bottom: 2rem;
	border-radius: 8px;
	padding-left: .25rem;	
}

.logo {
	max-width: 100px;
	margin-top: .75rem;
	margin-bottom: 0;
	display: inline-block;
	overflow: auto;
	vertical-align: top;
	
}

header h1{
		display: inline-block;
		vertical-align: top;
}

.fancy-link,
.fancy-link:link,
.fancy-link:visited{
	color: #979c9b;
	text-decoration: none;
	border-bottom: 1px solid #979c9b;
}

.fancy-link:hover,
.fancy-link:focus,
.fancy-link:active{
	color: #282727;
	border-bottom: 5px solid #282727;
}

nav,
nav li,
nav a,
nav a:link,
nav a:visited{
	width: 100%;
	font-family: arvo, serif;
	margin: 0 auto;
	padding: .5rem;
}

ul {
	margin-left: 0;
	padding-left: 0;
}


ul li:before {
	content: "";
}

ul li{
	font-family: "Arvo" serif;
   	position: relative;  
	list-style-type: none;
}

.header-search {
	float: left;
	top: -20px;
}

@media screen and (min-width: 36.125em) {

nav,
nav li,
nav a,
nav a:link,
nav a:visited {
	display: inline;
	
}

header h1{
	margin-top: 3.25rem;
}

@media screen and (min-width: 78.5em) {
	
.header-search {
	margin-top: 0rem;
	float: right;
	margin-right: .5rem;
}
}












	



