@charset "UTF-8";
/* CSS Document */

header {
	background-color: #ECF4F4;
	position: fixed;
	width: 98%;
	top: 0;
	z-index: 100;
	
}

.logo {
	max-width: 100px;
	margin: .5rem;
	top: -30px;
	display: inline-block;
}

header h1{
		display: inline-block;
		position: relative;
		top: -40px;
		overflow: auto;
		margin-bottom: 0;
}

nav,
nav li,
nav a,
nav a:link,
nav a:visited{
	width: 100%;
	text-decoration: none;
	font-family: arvo, serif;
	margin: 0 auto;
	padding: .5rem;
	display: inline;
}

ul {
	margin-left: 0;
	padding-left: 0;
}


ul li:before {
	content: "";
}

ul li{
	font-family: "Arvo" serif;
   	position:relative;  
	list-style:none;
}












	



