@charset "UTF-8";
/* CSS Document */

.product-small {
	margin-bottom: 1rem;
}

.title-small {
	line-height: 0.25;
}

.btn-small {
	float: none;
}

.h1-small {
	text-align: center;
}

.btn-big {
	float: none;
	margin: 0;
}
