@charset "UTF-8";
/* CSS Document */

.promo-small{
	background-color: #C1DCE0;
	border-radius: 10px;
	color: #6a6d6d;
	padding: 1rem;
}

.promo-large{
	background-color: #C1DCE0;
	border-radius: 10px;
	padding: 1rem;
}