# ACCESSIBILITY TESTING REPORT

Accessibility testing was conducted by {Shelley Babij} on {April 2nd} between the times of {4:00pm} and {4:45} with the following participants:

- {Madeleine Gagne}
- {Marta Traczyk}
- {Sam McClelland}
- {Sam Nickerson}
- {Sara Hodgson}
- {Logan Branwood}

## Tasks

1. {Find Neckwear page}
2. {Find Scarves page}
3. {On Scarves page find horseshoe page and click checkout button}

---

## Individual Results & Observations

### {Madeleine Gagne} Voice Over
### {Sarah Hodgson} Voice Over
### {Sam McClelland} Voice Over

- No issues 

### {Marta Traczyk} Tab
### {Logan Branwood} Tab
### {Sam Nickerson} Tab

- No issues

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- {n/a}

### Serious, Causes Frustration, May Hinder Completion

- {n/a}

### Minor, Annoying, Won’t Hinder Completion

- {n/a}