---
layout: default
title: Home
meta: Vintage neckwear and bowtie website to purchase classy online finds.
---

<div class="grid">
	<div class="unit gutter unit-s-1 unit-m-1-3 unit-l-1-3">
		{% include promo-small.html title="Circle Scarf" desc="Crochet neckwear" image="/scarf.jpg" %}
	</div>
	<div class="unit gutter unit-s-1 unit-m-1-3 unit-l-1-3">
		{% include promo-small.html title="Modern Bowtie" desc="Lime Green Glasses" image="/bowtie-2.jpg" %}
	</div>
	<div class="unit gutter unit-s-1 unit-m-1-3 unit-l-1-3">
		{% include promo-small.html title="Nautical Bowtie" desc="Anchors Away" image="/bowtie-3.jpg" %}
	</div>
</div>
