 ---
layout: default
title: Home
meta: Vintage neckwear and bowtie website to purchase classy online finds.
bannertext: Your source for unique antique neckwear
showbanner: yes
---

<main role="main">
	<div class="grid">
		<div class="img-flex unit unit-s-1 unit-m-1 unit-l-1">
			{% include promo-large.html title="Bowtie Collection" desc="Collection of antique Bowties - one for every day of the month." image="neckwear/ties.jpg" %}
		</div>
		<div class="unit gutter unit-s-1 unit-m-1-3 unit-l-1-3">
			{% include promo-small.html title="Circle Scarf" desc="Crochet neckwear" image="neckwear/scarf.jpg" %}
		</div>
		<div class="unit gutter unit-s-1 unit-m-1-3 unit-l-1-3">
			{% include promo-small.html title="Modern Bowtie" desc="Lime Green Glasses" image="neckwear/bowtie-2.jpg" %}
		</div>
		<div class="unit gutter unit-s-1 unit-m-1-3 unit-l-1-3">
			{% include promo-small.html title="Nautical Bowtie" desc="Anchors Away" image="neckwear/bowtie-3.jpg" %}
		</div>
	</div>
</main>
