---
layout: default
title: Home
meta: Vintage neckwear and bowtie website to purchase classy online finds.
bannertext: Your Source For Unique Antique Neckwear
showbanner: yes
---

<main role="main">
	<div class="grid">
		<div class="img-flex unit unit-s-1 unit-m-1 unit-l-1">
			{% include promo-large.html title="Tartan Scarf" desc="38.99$" image="neckwear/scarf-3.jpg" %}
		</div>
		<div class="unit gutter unit-s-1 unit-m-1-3 unit-l-1-3">
			{% include promo-small.html title="Circle Scarf" desc="24.99$" image="neckwear/scarf.jpg" %}
		</div>
		<div class="unit gutter unit-s-1 unit-m-1-3 unit-l-1-3">
			{% include promo-small.html title="Modern Bowtie" desc="34.99$" image="neckwear/bowtie-2.jpg" %}
		</div>
		<div class="unit gutter unit-s-1 unit-m-1-3 unit-l-1-3">
			{% include promo-small.html title="Dark Teal Bowtie" desc="34.99$" image="neckwear/bowtie-3.jpg" %}
		</div>
	</div>
</main>
