# User Testing Report

User testing was conducted by {Shelley Babij} on {March 26th} between the times of {3:00pm} and {3:45} with the following participants:

- {Madeleine Gagne}
- {Marta Traczyk}
- {Giulia Balestra}

## Tasks

1. {Type in search item & choose a product to buy}
2. {Add an item to the shopping cart & checkout}
3. {Go to horseshoe scarf product page}

---

## Individual Results & Observations

### {Madeleine Gagne}

- {She clicked on the link as expected…}
- {she suggested that the button in the search field be changed from "checkout" to "add to cart"}

### {Marta Traczyk}

- {navigated with little difficulty}
- {she found button on search page confusing as it says checkout instead of "add to cart"}

### {Giulia Balestra}

- {She clicked on the link as expected…}
- {She suggested I change button on search page to a shopping cart icon for better transparency}
---

## Trends

### Critical, Needs Fixing, Unable to Complete

- {n/a}

### Serious, Causes Frustration, May Hinder Completion

- {n/a}

### Minor, Annoying, Won’t Hinder Completion

- {Change button on search page from "checkout" to either a shopping cart icon or "add to cart" button}