@charset "UTF-8";
/* CSS Document */

.img-border{
	border-radius: 3px;
	border: 8px solid #C1DCE0;
	margin-bottom: .5rem;
}

.promo-small{
	border-radius: 6px;
}

.promo-large{
	background-color: #fff;
	padding: 0.5rem;
	width: 60%;
	margin-left: 20%;
	margin-right: 20%;
}

.h2-spacing {
	line-height: 1.6875;
	margin-bottom: 0;
}

