@charset "UTF-8";
/* CSS Document */

.img-border{
	border-radius: 1px;
	border: 8px solid #fff;
}

.promo-small{
	border-radius: 6px;
}

.promo-large{
	background-color: #fff;
	padding: 0.5rem;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}
