<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>{{page.title}} · Vintage Neckwear Co.</title>
<meta name="handheldfriendly" content="true">
<meta name="mobileoptimized" content="240">
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta name="description" content="{{page.meta}}">
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
<link href="{{site.baseurl}}/css/main.css" rel="stylesheet">
<link rel="shortcut icon" href="{{site.baseurl}}/favicon.ico" type="image/x-icon">
<link rel="icon" href="{{site.baseurl}}/favicon.ico" type="image/x-icon">
</head>

<body>
	<header class="grid" role="banner">

		<div class="unit unit-s-1 unit-m-1 unit-l-1">
			<a href="{{site.baseurl}}/"> <img class="logo" src="{{site.baseurl}}/images/tie-logo.svg" alt="tie logo"></a>

			<h1> Vintage Neckwear Co. </h1>
		</div>

		<div class="unit unit-s-1 unit-m-1-2 unit-l-1-2">
			<nav role="navigation">
				<ul>
					<li class="mega"><a class= "{% if page.url contains 'neckwear' %}current{% endif %} fancy-link ease-all" href="{{site.baseurl}}/neckwear/">Neckwear</a></li>
					<li class="mega"><a class= "{% if page.url == '/' %}current{% endif %} fancy-link ease-all" href="{{site.baseurl}}/">Home</a></li>
					<li class="mega"><a class= "{% if page.url == '/about/' %}current{% endif %} fancy-link ease-all" href="{{site.baseurl}}/about/">About</a></li>
				</ul>
			</nav>
		</div>
		<div class="unit unit-s-1 unit-m-1-2 unit-l-1-2">
			<form method="get" action="{{site.baseurl}}/search/" class="header-search" role="search">
			<label for ="search" class="search-label">Search</label>
				<span><input type="text" id="search" class="search rounded" placeholder="Search..."></span>
				<a class="btn btn-alt btn-search" href="{{site.baseurl}}/search/">Search</a>
			</form>
		</div>
	</header>

{% if page.showbanner %}
<div class="banner">
	<h2 class="yotta">{{page.bannertext}}</h2>
</div>
{% endif %}

{{content}}

	<footer class="grid" role="contentinfo">
	<div class="unit unit-s-1 unit-m-2 unit-l-2">
		<p class="milli"> Copywright © Vintage Neckwear Co. 2014 <a class= "fancy-link ease-all" href="{{site.baseurl}}/LICENSE">Terms of Service</a></p>
	</div>

	<div class="unit unit-s-1 unit-m-2 unit-l-2">
		<ul class= "social">
					<li>
						<a class="ease-all" href="http://www.facebook.com">
							<i class="fa fa-facebook"></i>
							<span class="hide-text">Facebook</span>
						</a>
					</li>
					<li>
						<a class="ease-all" href="http://www.twitter.com">
							<i class="fa fa-twitter"></i>
							<span class="hide-text">Twitter</span>
						</a>
					</li>
						<li>
							<a class="ease-all" href="http://www.google.com">
								<i class="fa fa-google-plus"></i>
								<span class="hide-text">Google Plus</span>
							</a>
					</li>
		</ul>
	</div>
</footer>
</body>
</html>
