<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Vintage Neckwear Co.</title>
<meta name="handheldfriendly" content="true">
<meta name="mobileoptimized" content="240">
<meta name="viewport" content="width=device-width,initial-scale=1">
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
<link href="{{.site.baseurl}}/css/typography.css"rel="stylesheet">
<link href="{{.site.baseurl}}/css/common.css"rel="stylesheet">
<link href="{{.site.baseurl}}/css/list-group.css"rel="stylesheet">
<link href="{{.site.baseurl}}/css/media-object.css"rel="stylesheet">
<link href="{{.site.baseurl}}/css/embed.css"rel="stylesheet">
<link href="{{.site.baseurl}}/css/icons.css"rel="stylesheet">
<link href="{{.site.baseurl}}/css/buttons.css"rel="stylesheet">
<link href="{{.site.baseurl}}/css/grid.css"rel="stylesheet">
<link href="{{.site.baseurl}}/css/header.css"rel="stylesheet">
<link href="{{.site.baseurl}}/css/footer.css"rel="stylesheet">
<link href="{{.site.baseurl}}/css/product.css"rel="stylesheet">
<link href="{{.site.baseurl}}/css/product-list-item.css"rel="stylesheet">
</head>
<body>
	<header class="grid">
		
		<div class="unit unit-s-1 unit-m-1 unit-l-1">
			<img class="logo" src="../images/tie-logo.svg" alt="logo placeholder">
			
			<h1> Vintage Neckwear Co. </h1>
		</div>
		
		<div class="unit unit-s-1 unit-m-1 unit-l-1">
			<nav>
				<ul>
					<li class="mega"><a class= "fancy-link ease-all" href="{{site.baseurl}}/products/">Products</a></li>
					<li class="mega"><a class= "fancy-link ease-all" href="{{site.baseurl}}/">Home</a></li> 
					<li class="mega"><a class= "fancy-link ease-all" href="{{site.baseurl}}/about/">About</a></li>
				</ul>
			</nav>
		</div>
		<div class="unit unit-s-1 unit-m-1 unit-l-1">
			<form class="header-search">
				<span><input type="text" class="search rounded" placeholder="Search..."></span>
				<a class="btn btn-alt btn-search" href="#">Search</a>
			</form>
		</div>
	</header>
	
{{content}}

	<footer class="grid">
	<div class="unit unit-s-1 unit-m-1 unit-l-1">
		<p class="milli"> Copywright © Vintage Neckwear Co. 2014 <a class= "fancy-link ease-all" href="#">Terms of Service</a></p> 
	</div>
	
	<div class="unit unit-s-1 unit-m-1 unit-l-1">
		<ul class= "social">
					<li>
						<a class="ease-all" href="#">
							<i class="fa fa-facebook"></i>
							<span class="hide-text">Facebook</span>
						</a>
					</li>
			<ul class= "social">
					<li>
						<a class="ease-all" href="#">
							<i class="fa fa-twitter"></i>
							<span class="hide-text">Twitter</span>
						</a>
					</li>
				</ul>	
					<ul class= "social">
					<li>
						<a class="ease-all" href="#">
							<i class="fa fa-google-plus"></i>
							<span class="hide-text">Google Plus</span>
						</a>
					</li>
				</ul>
		</div>
	</footer>