---
layout: default
---
<nav>
	<ul>
		<li>		
		<a class= "{% if page.url == '/scarves/index.html' %}current{% endif %}fancy-link ease-all" href="{{site.baseurl}}/neckwear/scarves/index.html">Scarves</a>
		</li>
		<li>
		<a class= "{% if page.url == '/ties/inedex.html' %}current{% endif %}fancy-link ease-all" href="{{site.baseurl}}/neckwear/ties/index.html">Ties</a>
		</li>
	</ul>
</nav>

<h1>{{page.title}}</h1>

<div class="grid">
	<div class="unit unit-s-1 unit-m-1-2 unit-l-1-3">
	<img class="img-flex" src="{{site.baseurl}}/images/neckwear/{{page.image}}" alt"Photo of{{neckwear.title}}">
	</div>
</div>

{{content}}
